@model IEnumerable<WebProcessManager.Models.Process>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Processes</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p style="color: red">
    @ViewData["error"]
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsRunning)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoRestart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arguments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Container)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsRunning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutoRestart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arguments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Container.Id)
            </td>
            <td>
                <a asp-action="Start" asp-route-id="@item.Id">Start</a> |
                <a asp-action="Stop" asp-route-id="@item.Id">Stop</a> |
                <a asp-action="Sync" asp-route-id="@item.Id">Sync</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
